// --------------------
// Definition of variables
$primary: #4d9de0;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// --------------------
// Style for App component
.App {
  text-align: center;
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
    background-image: url("../src/image1.jpeg");
    height: 700px;
    background-repeat: no-repeat;
  }
}
.Home ul {
  list-style: none;
}

.projects ul {
  list-style: none;
}

.container1 {
  background-image: url("./image1.jpeg");
  width: 90vw;
  height: 100vh;
  background-image: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
}
.container1 h1 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  padding: 40px;
  margin: 3px;
}

.container1 h2 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(15deg);
  padding: 40px;
  margin: 3px;
}

.container1 h3 {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(30deg);
  padding: 40px;
  margin: 3px;
  transition: ease-in-out;
}

.container1 h4 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(45deg);
  padding: 40px;
  margin: 3px;
}
.container1 h5 {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  padding: 40px;
  margin: 3px;
}
.container1 h6 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  padding: 40px;
  margin: 3px;
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.projectImage {
  padding: 20px;
  text-align: center;
  height: 100px;
}

.profile ul {
  list-style: none;
}

.Search {
  font-size: 1rem;
  padding: 15px 5px;
  width: 600px;
  border-radius: 20px;
  border: solid 1px black;
  text-align: center;
}

.home-section-two {
  background-image: url("../src/image1.jpeg");
  height: 700px;
  background-repeat: no-repeat;
}

footer {
  background-image: url("./image4.jpeg");
  background-repeat: no-repeat;
  padding: 50px;
  display: flex;
  justify-content: center;
}
