// --------------------
// Definition of variables
$primary: #4D9DE0;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    height: 80px;
    border-radius: 10px
  }

  

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
    background-image: url("../src/image1.jpeg");
    height: 700px;
    background-repeat: no-repeat;
  }
}
.Home ul {
  list-style: none;
}

.projects ul {
  list-style: none;
}


.carousel{
  
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.projectImage {
  padding: 20px;
  text-align: center;
  height: 100px;
}

.profile ul{
list-style: none;
}

.Search{
  font-size: 1rem;
  padding: 15px 5px;
  width: 600px;
  border-radius: 20px;
  border: solid 1px black;
  text-align: center;
}

.home-section-two{
  background-image: url("../src/image1.jpeg");
  height: 700px;
  background-repeat: no-repeat;
}
